*{
	margin:0;
	padding:0;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
html{
	font-size:62.5%;
	background: #fff;
}
body{
	line-height: 1.5;
	font-size: 1.2rem;
}
::selection{
	background: #b3d4fc;
}
a{
	color: #fff;
	text-decoration: none;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}




.top{
	width: 100%;
	line-height: 5rem;
	background-color: #555555;
	color: #fff;
}
.top .content{
	float: left;
}
.content .tel{
	margin: 0 3rem;
}
.top .login{
	text-align: right;
}
.top .login li{
	display: inline-block;
	padding: 0 1.5rem;
}
.top ul li + li{
	border-left:1px solid #fff;
	line-height: 1rem;
}
@media only screen and (max-width: 480px) {
	.top .content .site{
		display: none;
	}
}




header .nav{
	background-color: #7c7c7c;
	line-height: 10rem;
	font-size: 1.6rem;
	color: #fff;
}
header .nav img{
	float: left;
	width:257px;
	height: 48px;
	padding: 2.5rem 0;
}
header .nav ul{
	text-align: right;
}
header .nav ul li{
	display: inline-block;
	padding: 0 1rem;
}




@media only screen and (max-width: 800px){
	header .nav img{
		float: none;
		display: block;
		margin: 0 auto;
	}
	header .nav ul{
		text-align: center;
	}
}
@media only screen and (max-width: 480px) {
	header .nav ul li:nth-child(1){
		display: none;
	}
}


.hot{
	width: 90%;
	margin: 0 auto;
	font-size: 0;
}
.hot h1{
	text-align: center;
	font-size: 4rem;
}
.hot .item{
	width: calc(33.333333%);
	display: inline-block;
	text-align: center;
	margin-bottom: 5rem;
}
.hot .item b,
.hot .item p{
	display: block;
	font-size:1.8rem
}
@media only screen and (max-width: 900px) {
	.hot .item{
		width: 100%;
		display: block;
	}
}



.data{
	width: 100%;
	background-color: #555555;
}
.data-content{
	width: 90%;
	margin: 0 auto;
	font-size: 0;
}
.data-content h1,h3{
	 text-align: center;
}
.data-content h1{
	text-align: center;
	font-size: 5rem;
	color: #ffa500;
}
.data-content h3{
	text-align: center;
	font-size: 2rem;
}
.data-content .item{
	display: inline-block;
	width: calc(25%);
	text-align: center;
	margin: 3rem 0;
}
.data-content .item p{
	font-size: 1.8rem;
	color: #fff;
}
.data-content .item p span{
	font-size: 3rem;
	color: orange;
	font-weight: bold;
}
.data-content .data-content-span{
	display: block;
	text-align: center;
	font-size: 1.6rem;
	color: #fff;
	padding-bottom: 5rem;
}
@media only screen and (max-width: 800px) {
	.data-content .item{
		 display: inline-block;
		 width: calc(33.333333%);

	 }
	.data-content .item:nth-child(3){
		display: none;
	}
}
@media only screen and (max-width: 480px) {
	.data-content h3{
		font-size: 1.6rem;
	}
	.data-content h1{
		font-size: 3.6rem;
	}
	.data-content .item p span{
		font-size: 2.6rem;
		color: orange;
		font-weight: bold;
	}
}




footer{
	width: 100%;
	background-color: #555555;
	border-top:1px solid #ffff;
}
.footer-content{
	width: 90%;
	margin: 0 auto;
	line-height: 5rem;
}
.footer-content span{
	float: left;
	color: #fff;
}
.footer-content ul{
	text-align: right;
}
.footer-content ul li{
	display: inline-block;
	padding: 0 .5rem;
}
@media only screen and (max-width: 800px) {
	.footer-content span{
		float: none;
		display: block;
		text-align: center;
	}
	.footer-content ul{
		text-align: center;
	}
}